<div class="col">
	<div class="form-group">
		<select class="form-control category" name="maincat">
			<option value="0">Select Category...</option>
			<% @maincats.each do |c| %>
				<option value="<%= c.id %>"><%= c.cat_name %></option>
			<% end %>
		</select>
	</div>
</div>