<div class="col">
	<div class="form-group">
    <select class="country form-control" name="country">
      <option value="0">Select Country...</option>
      <% @countries.each do |country| %>
        <option value="<%= country.id %>"><%= country.country_name %></option>
      <% end %>
    </select>
  </div>
</div>