<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		$(document).ready(function(){
			$('ul.nav li.nav-item.emps').addClass('active');
		});
	</script>
</head>

<body>
	<div class="main-panel">
		<div class="content">
			<div class="container-fluid">
				<h5 class="page-title">Employees</h5>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Employees List</div>
								<div class="card-right">
									<input type="text" name="search" id="myInput" placeholder="Search...">
								</div>
							</div>

							<div class="card-body">
								<%= render 'employees_list' %>
							</div>

							<div class="card-footer">
								<a href="/nemp" class="btn btn-app pull-right">Add New Employee</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>